{
  "swagger": "2.0",
  "info": {
    "title": "NamePlateViewer",
    "version": "1.0",
    "description": "Import from \"NamePlateViewer\" Function App"
  },
  "host": "nameplateviewer-apim.azure-api.net",
  "basePath": "/NamePlateViewer",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "paths": {
    "/NameplateRecognizer": {
      "post": {
        "operationId": "post-nameplaterecognizer",
        "summary": "NameplateRecognizer",
        "responses": {
          "200": {
            "description": "analysis response",
            "content": {
              "*/*": {
                "properties": {
                  "manufacturer": {
                      "$id": "#/properties/manufacturer",
                      "type": "string",
                      "title": "The Manufacturer Schema"
                  },
                  "modelNumber": {
                      "$id": "#/properties/modelNumber",
                      "type": "array",
                      "title": "The Modelnumber Schema",
                      "items": {
                        "$id": "#/properties/modelNumber/items",
                        "type": "string",
                        "title": "The Items Schema"
                      }
                  },
                  "serialNumber": {
                      "$id": "#/properties/serialNumber",
                      "type": "array",
                      "title": "The Serialnumber Schema",
                      "items": {
                        "$id": "#/properties/serialNumber/items",
                        "type": "string",
                        "title": "The Items Schema"
                      }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": []
}